<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Total Rate</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>

<body>
    <div class="container">
        <h1>Total Rate Details</h1>

        <label for="type">Item Type: </label>
        <p id="type"><%= type %></p>

        <label for="weight">Item Weight: </label>
        <p id="weight"><%= weight %> oz</p>

        <label for="total">Total Rate: </label>
        <p id="total">$<%= total %></p>
    </div>
</body>

</html>